.clear
{
    clear: both;
}

body
{
    width: 100%;
    margin: 0 auto;
    background: #edeef0;
}

.container
{
    margin-top: 20px;
}

.shape_form
{
    width: 100%;
    margin: 0 auto;
}

.shape_form select
{
    margin: 0 auto;
    border: 1px solid #CCC;
    overflow: hidden; 
    height: 34px;
    width: 60%;
}

.form-control
{
    margin: 0 auto;
}

.shape_form input
{
    margin-top: 20px;
    border: 1px solid #CCC;
    overflow: hidden; 
}

.static_input input
{
    height: 34px;
    width: 60%;
}

canvas
{
    background: #fff;
    display: block;
    margin: 0 auto;
    border: 1px solid #CCC;
}
